---
---

@function reduce ($percent)
  @return rgba(mix(#292929, #fff), $percent / 100)

@import basic
@import code
@import table

.paper-box
  display: flex
  justify-content: left
  align-items: center
  flex-direction: row
  flex-wrap: wrap
  border-bottom: 1px solid #efefef
  padding: 2em 0

  .paper-box-image
    display: flex
    justify-content: center
    flex: 0 0 auto // Adjust width as needed, e.g., 30%
    order: 1

    img
      max-width: 100%
      height: auto
      box-shadow: 3px 3px 6px #888
      object-fit: cover

  .paper-box-text
    flex: 1 1 auto // Adjust width as needed, e.g., 70%
    order: 2
    padding-left: 1em // Add some spacing between image and text

@media (max-width: 768px) // Adjust for mobile responsiveness
  .paper-box
    flex-direction: column

    .paper-box-image
      width: 100%
      order: 1

    .paper-box-text
      order: 2
      padding-left: 0


